html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title НОВОСТИ by Студенческий медиацентр ВятГУ
        include ../../../templates/imports
    body(class="bg-white font-media")
        include ../../../templates/header
        div(class="")
            //- block #1
            div(class="h-[70vw] lg:h-[calc(100vh-80px)] lg:mt-[80px] flex items-center justify-center relative")
                div(class="absolute h-full w-full top-0 left-0 bg-no-repeat bg-center bg-cover"
                    style="background-image: url('/vyatsu-web/media/img/longreads/mafia.jpeg')")
                div(class="absolute h-full w-full bg-[#00000040]")
                div(class="max-w-[1200px] mx-auto absolute h-full w-full")
                    div(class="w-full absolute bottom-5 lg:bottom-20 flex justify-center")
                        div(class="text-black text-6xl lg:text-8xl font-black p-4 font-['Georgia']") МАФИЯ
            //- block #2
            div(class="h-screen lg:h-[calc(100vh-80px)] flex items-center justify-center relative ")
                div(class="absolute h-full w-full top-0 left-0 bg-no-repeat bg-center bg-cover bg-fixed "
                    style="background-image: url('/vyatsu-web/media/img/longreads/mafia/2.jpeg')")
                div(class="absolute h-full w-full bg-[#00000040]")
                div(class=" absolute h-full w-full flex justify-center items-center bg-gradient-to-b from-black")
                    div(class="max-w-[1200px] mx-auto text-white lg:text-[24px] px-5 text-center") Тишину разрезал громкий выстрел. Чей-то крик словно завершал этот гром оружейного залпа. В окнах соседних домов горожане просыпались и гасили свет, боялись стать жертвами мафиози. Казалось , что они уже знали об убийстве заранее. После ночного происшествия в злополучной квартире убитого ещё витала пыль от порохового заряда. Утром на улице не было ни души: страх охватил сердца горожан. Лишь изредка кто-то приоткрывал занавеску и осматривал мокрый от дождя город, словно ожидая мира и безопасности на его улицах. Сегодня мафия опять нарушила закон. Мафия опять сделала свой выбор.
            //- block #3
            div(class="flex items-center justify-center relative bg-black")
                div(class="max-w-[1200px] h-full w-full flex justify-center items-center")
                    div(class="py-20 h-full")
                        img(class="object-cover" src="/vyatsu-web/media/img/longreads/mafia/3-1.png" alt="Мафия-3-1")
                    div(class="py-20 h-full")
                        img(class="object-cover" src="/vyatsu-web/media/img/longreads/mafia/3-2.png" alt="Мафия-3-2")
            //- block #4
            div(class="h-[70vh] lg:h-[calc(100vh-80px)] flex items-center justify-center relative ")
                div(class="absolute h-full w-full top-0 left-0 bg-no-repeat bg-center bg-cover bg-fixed "
                    style="background-image: url('/vyatsu-web/media/img/longreads/mafia/4.jpeg')")
                div(class="absolute h-full w-full bg-[#00000040]")
                div(class="absolute h-full w-full flex justify-start items-end bg-gradient-to-b from-black to-[#00000080]")
                    div(class="font-['Proxima Nova'] text-white lg:text-[24px] font-extralight max-w-[520px] m-5 lg:m-20") Тема мафии уже давно используется в кино, в книгах с детективным сюжетом, в карточных и компьютерных играх. В карточной игре "Мафия" есть свои правила, а также различные роли. Часто такие игры проходят в виде турниров с чаем и конфетами. Открытый турнир по спортивной мафии прошел и в стенах ВятГУ. Я узнала больше об этой игре и пообщалась с организаторами и участниками мероприятия.
            //- block #5
            div(class="flex flex-col items-center justify-center relative ")
                div(class="h-full w-full flex flex-col justify-center items-center bg-black")
                    div(class="font-['Georgia'] text-center text-white text-[32px] lg:text-[52px] border-4 border-white py-3 px-10 my-20") Карты, маски, два ствола
                    div(class="max-w-[1200px] w-full flex justify-center items-center")
                        div(class="py-20 h-full")
                            img(class="object-cover" src="/vyatsu-web/media/img/longreads/mafia/5-1.png" alt="Мафия-5-1")
                        div(class="py-20 h-full")
                            img(class="object-cover" src="/vyatsu-web/media/img/longreads/mafia/5-2.png" alt="Мафия-5-2")
                    div(class="my-10 text-white text-center text-[22px] max-w-[760px] px-5") В игре «Мафия» участвует 20 человек, которые сидят за двумя столами. Для участников есть свой номер и маска, которая надевается на время ночи в городе. Днем каждому игроку дается одна минута на выражение своих мыслей, подозрений и идей.
                    div(class="my-10 mx-auto max-w-[960px] ")
                        img(class="" src="/vyatsu-web/media/img/longreads/mafia/5-3.png" alt="Мафия-5-3")
                div(class="w-full h-[70vh] lg:h-[calc(100vh-80px)] flex items-center justify-center relative")
                    div(class="absolute h-full w-full top-0 left-0 bg-no-repeat bg-center bg-cover bg-fixed"
                        style="background-image: url('/vyatsu-web/media/img/longreads/mafia/5-4.jpeg')")
                    div(class="absolute h-full w-full bg-gradient-to-b from-black")
            //- block #6
            div(class="h-[70vh] lg:h-[calc(100vh)] flex items-center justify-center relative ")
                div(class="absolute h-full w-full top-0 left-0 bg-no-repeat bg-center bg-cover bg-fixed "
                    style="background-image: url('/vyatsu-web/media/img/longreads/mafia/6-1.jpeg')")
                div(class="absolute h-full w-full bg-gradient-to-b from-black")
                div(class="absolute h-full w-full flex flex-col items-center")
                    div(class="font-['Georgia'] text-center text-white text-[32px] lg:text-[52px] border-4 border-white py-3 px-10 my-20") Просыпается мафия
            //- block #7
            div(class="h-auto lg:h-[calc(100vh-80px)] flex items-center justify-center relative ")
                div(class="absolute h-full w-full top-0 left-0 bg-no-repeat bg-center bg-cover bg-fixed "
                    style="background-image: url('/vyatsu-web/media/img/longreads/mafia/7-1.jpeg')")
                div(class="absolute h-full w-full bg-gradient-to-b from-black")
                div(class="absolute h-full w-full flex flex-col items-center")
                    div(class="py-10")
                        svg(role='presentation' width='110px' height='26.25px' viewBox='0 0 88 21')
                            g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                                g(fill='#ffffff')
                                    g
                                        g
                                            path#Shape(d='M77.2,20.9 C77.2,20.9 76.3,16.6 73.7,14 C71.1,11.4 66.8,10.5 66.8,10.5 C66.8,10.5 71.1,9.6 73.7,7 C76.3,4.3 77.2,0 77.2,0 C77.2,0 78.1,4.3 80.7,7 C83.3,9.6 87.7,10.5 87.7,10.5 C87.7,10.5 83.4,11.4 80.8,14 C78.1,16.6 77.2,20.9 77.2,20.9 L77.2,20.9 Z')
                                            path#Shape(d='M44.3,20.9 C44.3,20.9 43.4,16.6 40.8,14 C38.2,11.4 33.9,10.5 33.9,10.5 C33.9,10.5 38.2,9.6 40.8,7 C43.4,4.3 44.3,0 44.3,0 C44.3,0 45.2,4.3 47.8,7 C50.4,9.6 54.8,10.5 54.8,10.5 C54.8,10.5 50.5,11.4 47.9,14 C45.2,16.6 44.3,20.9 44.3,20.9 L44.3,20.9 Z')
                                            path#Shape(d='M11.1,20.9 C11.1,20.9 10.2,16.6 7.6,14 C5,11.4 0.7,10.5 0.7,10.5 C0.7,10.5 5,9.6 7.6,7 C10.1,4.3 11.1,0 11.1,0 C11.1,0 12,4.3 14.6,7 C17.2,9.6 21.6,10.5 21.6,10.5 C21.6,10.5 17.3,11.4 14.7,14 C12,16.6 11.1,20.9 11.1,20.9 L11.1,20.9 Z')
                div(class="h-full w-full flex flex-col justify-center items-center pt-32 pb-20 px-5 z-10")
                    div(class="mx-auto max-w-[960px] text-white text-center space-y-8")
                        div(class="text-[18px] lg:text-[28px] font-extralight") Всем игрокам достается своя карта: карта мафии (<strong class="font-bold">черная</strong>) или мирного жителя (красная). Причем у каждой группы есть свой предводитель: Дон - у мафии, Шериф - у обычных граждан.
                        div(class="text-[16px] lg:text-[24px] font-extralight") В первую же ночь под музыку все мафиози знакомятся друг с другом. Остальные в это время «спят». Музыка нужна для того, чтобы никто не смог уловить шумов, которые могу выдать игрока. В это время мафия договаривается, кого же убить. Мафия засыпает, после чего Шериф проверят у ведущего, кто есть мафия. «Красные» по правилам должны найти «черных». А «черные» обеспечить себе алиби и вывести из игры достаточное количество «красных» игроков. Но «черные» знают друг друга, поэтому они имеют преимущество. В течение нескольких игровых дней игроки выдвигают кандидатур, с целью вывести участников из стола. Тот человек, который набрал больше голосов, выбывает. В итоге, если мафия численно равна с мирными жителями, то она выигрывает по правилам игры.<br>Всего в турнире 4 игры. В конце подводятся баллы каждого игрока за его победы в команде. Те участники, которые набрали большее количество очков, проходят в следующий тур.
            //- block #8
            div(class="h-auto relative bg-black")
                div(class="px-5 py-20 mx-auto max-w-[1200px] grid grid-cols-1 lg:grid-cols-2  gap-5 lg:gap-10")
                    div(class="aspect-[16/9] bg-no-repeat bg-center bg-cover"
                        style="background-image: url('/vyatsu-web/media/img/longreads/mafia/8-1.jpeg')")
                    div(class="aspect-[16/9] bg-no-repeat bg-center bg-cover"
                        style="background-image: url('/vyatsu-web/media/img/longreads/mafia/8-2.jpeg')")
                    div(class="aspect-[16/9] bg-no-repeat bg-center bg-cover lg:col-span-2"
                        style="background-image: url('/vyatsu-web/media/img/longreads/mafia/8-3.jpg')")
                div(class="flex flex-col items-center")
                    div(class="font-['Georgia'] text-center text-white text-[32px] lg:text-[52px] border-4 border-white py-3 px-10") Я здесь новенький
                div(class="h-[calc(90vh-80px)] min-h-[400px] flex items-center justify-center relative")
                    div(class="absolute h-full w-full top-0 left-0 bg-no-repeat bg-center bg-cover bg-fixed "
                        style="background-image: url('/vyatsu-web/media/img/longreads/mafia/8-4.jpeg')")
                    div(class="absolute h-full w-full flex justify-start items-end bg-gradient-to-b from-black to-[#00000080]")
                        div(class="font-['Proxima Nova'] text-white lg:text-[24px] font-extralight max-w-[520px] m-5 lg:m-20") На игру я пришла впервые. В ней всё как на уроке в школе: у тебя звонит телефон и к тебе поворачивается весь класс. Также и здесь: произносишь слово и видишь десяток внимательных взглядов.<br>Признаюсь, от такого внимания я иногда путалась в словах и выражениях.
            //- block #9
            div(class="h-auto relative bg-black")
                div(class="px-5 py-20 mx-auto max-w-[1200px] grid grid-cols-1 lg:grid-cols-2  gap-5 lg:gap-10")
                    div(class="aspect-square bg-no-repeat bg-center bg-cover"
                        style="background-image: url('/vyatsu-web/media/img/longreads/mafia/9-1.jpeg')")
                    div(class="aspect-square bg-no-repeat bg-center bg-cover"
                        style="background-image: url('/vyatsu-web/media/img/longreads/mafia/9-2.jpeg')")
                    div(class="bg-no-repeat bg-center bg-cover lg:col-span-2 ")
                        div(class="text-white text-center text-[26px]") Иногда мне казалось, что умение «красиво» солгать зачастую помогало мафиози победить. Но я понимала, что мирный житель выиграет в том случае, если он эту ложь сможет распознать. В этом мне помогала интуиция. Часто такие маленькие победы помогали в сложных ситуациях. Тогда, когда моя команда проигрывала.
                div(class="h-[calc(90vh)] min-h-[400px] flex items-center justify-center relative")
                    div(class="absolute h-full w-full top-0 left-0 bg-no-repeat bg-center bg-cover bg-fixed "
                        style="background-image: url('/vyatsu-web/media/img/longreads/mafia/9-3.jpeg')")
                    div(class="absolute h-full w-full flex justify-start items-end bg-gradient-to-b from-black to-[#00000080]")
            //- block #10
            div(class="h-auto relative bg-black")
                div(class="py-20")
                    img(class="" src='/vyatsu-web/media/img/longreads/mafia/10-1.jpeg')
                div(class="")



        include ../../../templates/footer