header(class="z-30 lg:fixed bg-white w-full min-h-[100px] px-10 flex flex-col lg:flex-row items-center justify-between")
    a(href="/vyatsu-web/expert" class="py-10 lg:py-0")
        img(class="max-w-none w-[200px]" src="/vyatsu-web/rcfg43/img/logo.png")
    div(class="flex flex-col lg:flex-row justify-center items-center flex-wrap gap-x-6 gap-y-4 lg:gap-y-0 py-10 lg:py-0 text-[#02a9ea] text-[15px] font-normal uppercase text-center")
        a(href="/vyatsu-web/rcfg43/#about")= "О центре"
        a(href="/vyatsu-web/rcfg43/#projects")= "Проекты"
        a(href="/vyatsu-web/rcfg43#")= "Новости"
        a(href="#contacts")= "Мероприятия"
        a(href="#contacts")= "Полезное"
        a(href="#contacts")= "Центр финансовых консультаций"
        a(href="#contacts")= "Контакты"
        a(href="#contacts")= "Поиск"
    div(class="ml-0 lg:ml-20")
        svg.t-sociallinks__svg(role='presentation' width='30px' height='30px' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M50 100c27.614 0 50-22.386 50-50S77.614 0 50 0 0 22.386 0 50s22.386 50 50 50ZM25 34c.406 19.488 10.15 31.2 27.233 31.2h.968V54.05c6.278.625 11.024 5.216 12.93 11.15H75c-2.436-8.87-8.838-13.773-12.836-15.647C66.162 47.242 71.783 41.62 73.126 34h-8.058c-1.749 6.184-6.932 11.805-11.867 12.336V34h-8.057v21.611C40.147 54.362 33.838 48.304 33.556 34H25Z' fill='#02a9ea')

// блок для смещения остальной страницы
div(class="min-h-[100px] hidden lg:block")
