mixin title(name)
    div(class="py-10")
        div(class="text-[62px] text-[rgb(2,169,234)] uppercase font-semibold text-center")=name

mixin title_sm(name)
    div(class="py-10")
        div(class="text-[42px] text-[rgb(2,169,234)] uppercase font-semibold text-center")=name

mixin post(name, link, path_to_img, date)
    a(class='min-h-[350px] bg-white rounded-3xl overflow-hidden flex flex-col' href=link)
        div(class='h-[270px] bg-no-repeat bg-cover bg-center' style=`background-image: url('${path_to_img}')`)
        div(class="flex-1 p-5 pb-10 bg-[rgb(2,169,234)] relative")
            div(class='font-bold text-xs lg:text-base text-white')=name
            div(class='font-light text-[10px] text-[#00000080] absolute bottom-5')=date

mixin useful_slide(name, link, path_to_img, description)
    div(class="swiper-slide h-full w-full")
        a(class="flex flex-col items-center" href=link)
            img(src=path_to_img)
            div(class="text-[rgb(2,169,234)]")=name
            div(class="text-sm text-center")=description

mixin useful_square(name, link, path_to_img)
    a(class="relative h-[500px] flex justify-center" href=link)
        div(class="absolute h-full w-full bg-no-repeat bg-center bg-cover" style=`background-image: url('${path_to_img}')`)
        div(class="absolute h-full w-full bg-[rgb(2,169,234)] opacity-60")
        div(class="absolute h-full w-full flex justify-center items-center px-10")
            div(class="text-white text-center text-[24px] lg:text-[30px]")=name

mixin library_book()
    div(class="lg:flex items-center justify-center")
        div(class="flex justify-center items-center")
            img(class="lg:max-w-none lg:max-h-[280px] border" src="/vyatsu-web/rcfg43/img/book1.png")
        div(class="flex flex-col p-8")
            div(class="text-[rgb(2,169,234)] text-2xl lg:text-[30px]") Основы личной финансовой безопасности
            div(class="pt-5 font-thin text-sm lg:text-lg") Н.Н. Карзаева, Е.В. Каранина, Е.А. Карзаева
            a(class="pt-5" href="")
                div(class="bg-[rgb(2,169,234)] cursor-pointer text-white px-10 py-4 rounded-full w-fit") Скачать